@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: rgb(34, 32, 32);
    color: white;
    display: grid;
    grid: "header header header header" auto
          "...... lists  active ......" auto /
          1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;

    font-family: 'Roboto', sans-serif;
}

.title {
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    background-color: maroon;
    color: rgba(255, 255, 255);
    letter-spacing: 2px;
    margin: -0.2em 0 0.5em;
}

.all-tasks {
    grid-area: lists;
}

.task-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

.new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid white;
    font-size: inherit;
    outline: none;

    transition: border-bottom 150ms ease-in;
}

.new:focus {
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    opacity: 0.4;
}

.active-list {
    font-weight: 700;
}

.todo-list {
    grid-area: active;
}